.body{
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1% 5% 0px 5%;
}

.upper{
    border-bottom: 5px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.lower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5%;

}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon{
    padding: 0px 2.5%;
}

.link{
    display: flex;
    flex-direction: row;
    padding: 2.5%;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: row;
}

.row{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: column;
padding: 2.5%
}

.firstline{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 59px;
font-style: normal;
font-weight: 300;
line-height: 60.8px; /* 103.051% */
letter-spacing: -0.64px;
padding: 2.5%;
}

.secondline{
    color: #707070;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 27px; /* 135% */
letter-spacing: -0.2px;
padding: 2.5%;
}

.thirdline{
 color: #FFF;
text-align: center;
font-family: Inter;
font-size: 59px;
font-style: normal;
font-weight: 300;
line-height: 60.8px; /* 103.051% */
letter-spacing: -0.64px;
display: flex;
justify-content: center;
align-items: center;
padding: 2.5%;
}

.header{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    padding: 5%;
}
.address{
    max-width: 100px;
}

@media (max-width:500px)
{
    .lower{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}
