.gallery{
    padding: 5%;
}


.header{
color: #FFF;
/* leading-trim: both;
text-edge: cap; */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 100%;
margin-bottom: 5%;
text-align: center;
}

.body{
    background: 
    linear-gradient(to bottom, black 0%, white 50%, black 100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    column-count: 3;
    column-width: 33%;
}

.imageHolder{
    height: 100%;
    width: 100%;
}

.image{
    max-width:100%;
    width: 100%;
    height: 100%;
    overflow-wrap: normal;
    object-fit: contain;
    /* margin: 5%; */
}

@media(max-width:991px)
{
.body{
    column-count: 2;
    column-width: 50%;
}
}

@media(max-width:480px)
{
    
.body{
   column-count: 1;
   column-width: 100%;
}


}

.image{
    width: 100%;
}

.image :hover{
    filter: opacity(.1);
}

.model{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    transition: opacity .4s ease,visibility .4s ease,transform .4s ease, overflow .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    overflow: hidden;
    z-index: 2;
}

.modelopen{
    visibility: hidden;
    opacity: 1;
    transform: scale(1);
}